.group {
  content: "";
  display: block;
  clear: both;
}

.header {
  color: #fff;
}

.img-header {
  margin: 0 auto;
  opacity: 0.8;
}

.img-header:hover {
  opacity: 0.5;
}

.header-desc {
  text-align: center;
}

.hamburger {
  font-size: 36px;
}

.hamburger:hover {
  opacity: 0.8;
}

.portrait {
  margin: 0 auto;
  height: 250px;
}

.skill-icon {
  font-size: 75px;
}

/* Portfolio */

#portfolio {
  max-height: 900px;
}

.portfolio-header {
  font-size: 2.5em;
  text-align: center;
}

.projects {
  padding: 20px;
}

.projects h1 {
  font-size: 1.9em;
}

.list-selected {
  background-color: rgb(237, 237, 237);
}

.list {
  padding: 0;
  display: inline-block;
  width: 25%;
  max-width: 400px;
}

.list h3 {
  font-size: 1.5em;
}

.list h3:after {
  content: "❯";
  font-size: 80%;
  color: gray;
  margin-left: 10px;
}

.list p {
  font-size: 0.8em;
  color: #b0b0b0;
}

.list li {
  float: none;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.list li:hover {
  background-color: rgb(246, 246, 246);
}

.list .list-selected {
  background-color: rgb(237, 237, 237);
}

.project-content {
  display: inline-block;
  margin-left: -5px;
  padding-left: 30px;
  width: calc(70% - 60px);
  vertical-align: top;
  margin-top: -5px;
  list-style: square inside;
  transition: all 1s;
}

.project-item {
  display: block;
  position: relative;
}

.project-item h3 {
  font-size: 1.5em;
  padding-top: 5px;
  display: inline-block;
  margin-right: 20px;
}

.project-item span {
  font-size: 1.2em;
  font-style: italic;
}

.project-item li {
  font-size: 1.1em;
  text-indent: -1.5em;
  padding-left: 1em;
  padding: 7px 0;
  color: rgb(77, 77, 77);
}

.project-item .sources {
  margin-top: 15px;
  display: inline-block;
}

.sources a {
  padding: 5px 10px;
  background: rgb(16, 62, 115);
  transition: background 0.4s ease;
  color: white;
  margin-right: 5px;
}

.sources a:hover {
  background: rgb(51, 111, 180);
}

.img-container {
  display: flex;
  margin-left: 10px;
}

.portfolio-img {
  width: 75%;
  max-width: 500px;
  height: 100%;
}

.portfolio-img:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-desc {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}*/
